<div class="container">
	<div class="row  justify-content-center mt-5">
		<h1>編集ページ</h1>
	</div>

<%= render 'form', event: @event %>
	<div class="row  justify-content-center mt-5">
		<%= link_to '詳細に戻る', @event, class: "btn btn-info rounded-pill" %>
	</div>
</div>
